@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Destino Certo</h1>
</div>

<div class="paiPacotes">
    <div>
        <img src="https://www.melhoresdestinos.com.br/wp-content/uploads/2019/08/rio-de-janeiro-capa2019-01.jpg" class="imgLocal" />
    </div>
    <div class="DivPacote">
        <h1> Pacote de Viagem - Rio de Janeiro - 2023</h1>
        <h3> Preço R$800,00</h3>
        <p> 4 diárias + Hospedagem + café da manhã</p>
        <a href="/Usuario/Login"><input type="button" value="COMPRAR" class="botaoComprar" > </a>
        <div class="espaco"></div>
    </div>
</div>

<div class="espaco"></div>

<div class="paiPacotes">
    <div>
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/95/fe/9c/de-cima.jpg?w=1200&h=-1&s=1" class="imgLocal" />
    </div>
    <div class="DivPacote">
        <h1> Pacote de Viagem - Maresias - 2023</h1>
        <h3> Preço R$600,00</h3>
        <p> 2 diárias + Hospedagem + café da manhã</p>
         <a href="/Usuario/Login"><input type="button" value="COMPRAR" class="botaoComprar" > </a>
        <div class="espaco"></div>
    </div>
</div>

<div class="espaco"></div>

<div class="paiPacotes">
    <div>
        <img src="https://super.abril.com.br/wp-content/uploads/2022/01/SI_435_ORCL_Fernando-Noronha_site.jpg?quality=90&strip=info&w=1024&resize=1200,800" class="imgLocal" />
    </div>
    <div class="DivPacote">
        <h1> Pacote de Viagem - Fernando de Noronha - 2023</h1>
        <h3> Preço R$1000,00</h3>
        <p> 2 diárias + Hospedagem</p>
        <a href="/Usuario/Login"><input type="button" value="COMPRAR" class="botaoComprar" > </a>
        <div class="espaco"></div>
    </div>
</div>
